* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.flex-container {
    border: .3rem solid red;
    width: 80%;
    margin: 150px;
    height: 70rem;
    display: flex;
    /* flex-direction: row; ja vem por padrao no display flex */
    justify-content:  ;
    align-items:;
    flex-wrap: wrap;
    gap: 10px;
    
    
}

.flex-item {
    font-size: 2rem;
    /* width: 20rem; */
    height: 20rem;
    color: #ffff;
}