* {
    margin: 0;
    padding: 0;
}
 
.container {
    border: 1px solid #000;
    width: 80%;
    height: 800px;
    margin: 0 auto; /* p centralizar a DIV */
    position: relative;
    overflow: hidden;
}

.container div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px 20px;/* criar espaço em torno de elementos */
    position: absolute;
    border-radius: 20px; /* arredondar as bordas da DIV */
    

}

.box1 {
    background: #aa2f2f;
    top: 110px;
}

.box2 {
    background: #681c1c;
    top: 220px;
    left: 110px;
}

.box3 {
    background: #3f0505;
    top: 330px;
}

.box4 {
    background: #240101;
    top: 440px;
    right: 0;
}
